body {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding: 10px;
}
#drawingCanvas {
  width: 100%; /* Makes the canvas width responsive */

  height: 80%; /* Adjust height automatically based on aspect ratio */
}
.division {
  border: 2px solid #000;
  margin: 5px;
  padding: 10px;
  height: 500px;
  flex: 1;
  overflow: auto;
}
#drawingArea {
  background-color: #f0d0f0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
#animationArea {
  margin-top: 10px;
  background-color: #f0f0d0;
  height: 80%;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgba(39, 6, 6, 0.529) solid;
  border-radius: 4px;
  position: relative;
}
.viewArea {
  height: 70%;
  margin-top: 10px;
  width: 99%;
  display: flex;
  justify-content: center;
  border-radius: 4px;

  align-items: center;
  border: 1px rgba(39, 6, 6, 0.529) solid;
}
#modificationArea {
  background-color: #f0f0d0;
}
#deletionArea {
  background-color: #f0f0d0;
}
canvas {
  border: 1px solid black;
}
.shape-options {
  margin-top: 10px;
}
.controls {
  margin-top: 20px;
}
.control-label {
  margin-right: 10px;
}

@keyframes moveHorizontal {
  0% {
    left: 0;
  }
  100% {
    left: 170px; /* Move 350px to the right */
  }
}

@keyframes moveVertical {
  0% {
    top: 0;
  }
  100% {
    top: 300px; /* Move 350px down */
  }
}

.move-horizontal {
  animation: moveHorizontal 2s forwards; /* 2 seconds duration */
}

.move-vertical {
  animation: moveVertical 2s forwards; /* 2 seconds duration */
}
